@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">Stephen King</h1>
    <h2>King of Horror</h2>
</div>
<br />
<div class="container">
    <div class="row">
        <div class="col-3 img_div">
            <img src="~/images/80bc17470c1cf15c74b6650ae5a47c5b.jpg" class="mt-5 mb-3 ml-2 p-1" width="225" height="300" />
            <a class="nav-link text-center" style="color:blue;" asp-area="" asp-controller="Novels" asp-action="Index">My Novels</a>
        </div>
        <div class="col-6 p-5">
            <main>
                <article>
                    American author Stephen Edwin King has authored over 61 novels over 200 short stories. His books have
                    sold over 350 million copies. Many of his written works have been adapted to film, and made for TV movies.
                    Mr. King has been described as the "King of Horror", a play on his surname and a reference to his high standing
                    in pop culture. As, a child King witnessed one of his friend's struck and kiled by a train, an incident he has no
                    recollection of happening and some experts believe that this event may have psychologically inspired some of
                    King's darker works. Becoming a writer wasn't his initial career goal. King graduated from the University of Maine
                    with with a Bachelor of Arts in English and a certificate in teaching. Initially, he wrote short stories for magazines
                    to supplement his income. King was hired as a teacher at Hampden Academy in Hampden, Maine but
                    he continued to contribute short stories to magazines and worked on ideas for the novels we love to read today.
                </article>
            </main>
        </div>
        <div class="col-3 img_div">
            <img src="~/images/PSTRAIN_KING_WEB_1200.jpg" class="mt-5 mb-3 ml-3 p-1" width="225" height="300" />
            <a class="nav-link text-center" style="color:blue;" asp-area="" asp-controller="Movies" asp-action="Index">My Movies</a>
        </div>
    </div>
</div>

