@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Stephen King</h1>
    <h2>King of Horror</h2>
</div>
<div>
    <img src="~/images/StephenKingAdaptations_Getty_NewLineCinema_GreenEpsteinProductions_Ringer.0.jpg" />
</div>
